@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.home {
  &__continue_button {
    margin-top: 50px;
    font-size: $fs__h2;
  }
  &__visions_container {
    position: relative;
    height: calc(100vh - 353px); //MH - TODO: this should probably be calculated by JS or set explicit heights
  }
  &__visions_positioner {
    width: 0;
    height: 0;
    position: relative;
    top: 50%;
    left: 50%;
  }
}
