@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.visualize {
  &__sentence {
    font-size: $fs__h2;
  }
  &__sentence_entry {
    border-bottom: 1px solid black;
  }
  &__continue_container {
    margin-top: 50px;
  }
  &__sign_modal_container {
    .modal__content_container {
      padding: 50px;
      border-radius: 5px;
      width: 80%;
    }
  }
  &__signature_container {
    margin-top: 50px;
    height: 100px;
    border-bottom: 1px solid black;
  }
  &__sign_buttons {
    display: flex;
    margin-top: 50px;
  }
  &__sign_button {
    border-radius: 5px;
    &--skip {
      border-color: $c__gray;
      color: $c__gray;
      &:active {
        border-color: $c__tomato;
      }
    }
  }
  &__image_categories {
    display: flex;
    border-bottom: 1px solid black;
    margin-top: 20px;
  }
  &__image_category {
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    font-size: $fs__h3;
    padding: 10px 20px;
    margin: 0 5px;
    transition: all $anim__time--std linear;

    &.active {
      border-color: $c__tomato;
      background-color: $c__tomato;
      color: white;
    }
  }
  &__images {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
    border-bottom: 1px solid black;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__image_container {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    transition: border-color $anim__time--std linear;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      border-color: $c__tomato;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
