@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.confirmation {
  &__main {
    opacity: 0;
    transition: opacity $anim__time--long linear;
    &.active {
      opacity: 1;
    }
  }
  &__image_container {
    margin-top: 50px;
  }
  &__continue_link {
    margin-top: 50px;
  }
}