@import "./vars.scss";
@import "./mixins.scss";

.app_screen {
  padding: $app__pad;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.ctnr {
  position: relative;
}

.button {
  @include button;
  padding: $button__pad;
  border: $button__border_width solid $button__border_color;
  color: $button__text_color;
  background-color: $button__bg_color;
  outline: 0;
  @include anim__all;

  &:active {
    color: $button__text_color--active;
    background-color: $button__bg_color--active;
  }

  &--rounded {
    border-radius: $button__radius;
  }
  &--md {
    font-size: $fs__h4;
    height: 50px;
    border-radius: 25px;
  }
  &--lg {
    font-size: $fs__h3;
    height: 90px;
    border-radius: 45px;
    padding: 10px 100px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
}

a.button {
  display: inline-block;
}