// Media Query variables
$min-width: 320px;
$max-width: 1600px;
$screen-xs-min: $min-width;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-xl-min: $max-width;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $max-width;

// Font Stacks
$font__grav: "Gravur-Condensed","HelveticaNeue", "Arial", sans-serif;
$font__grav--black: "Gravur-CondensedBlack","HelveticaNeue", "Arial", sans-serif;
$font__grav--lt: "Gravur-CondensedLight","HelveticaNeue", "Arial", sans-serif;

// Font Styles
$fs__h1: 50px;
$fs__h2: 40px;
$fs__h3: 32px;
$fs__h4: 24px;
$fs__h5: 18px;
$fs__h6: 16px;
$fs__h7: 14px;

$fs__map: (
  h1: $fs__h1,
  h2: $fs__h2,
  h3: $fs__h3,
  h4: $fs__h4,
  h5: $fs__h5,
  h6: $fs__h6,
  h7: $fs__h7,
);

// Colors
$c__gray: #4a4a4a;
$c__gray--light: lighten(black,50%);
$c__tomato: #fe5000;

// Layout
$app__pad: 40px;

$button__radius: 20px;
$button__pad: 10px 20px;
$button__border_width: 2px;
$button__border_color: $c__tomato;
$button__text_color: $c__tomato;
$button__text_color--active: white;
$button__bg_color: white;
$button__bg_color--active: $c__tomato;

//Animations
$anim__time--std: 300ms;
$anim__time--long: 1000ms;