@import "./flexboxgrid.scss";
@import "./vars.scss";
@import "./mixins.scss";
@import "./components.scss";

@font-face {
  font-family: "Gravur-Condensed";
  src: url("../fonts/Gravur-Condensed.ttf") format("truetype");
}
@font-face {
  font-family: "Gravur-CondensedBlack";
  src: url("../fonts/Gravur-CondensedBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Gravur-CondensedThin";
  src: url("../fonts/Gravur-CondensedThin.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $font__grav;
  color: $c__gray;
  font-size: 1em;
  line-height: 1em;
  background-color: white;
  * {
    box-sizing: border-box;
    line-height: 1em;
  }
  img {
    max-width: 100%;
  }

  button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  a {
    color: $c__tomato;
  }
  input, button {
    font-family: $font__grav;
    outline: 0;
  }

  textarea { //mozilla places a red box shadow around these elements even if they are not invalid
    box-shadow: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font__grav--black;
    font-weight: normal;
    color: black;
    line-height: 1em;
    margin: 0;
  }

  @each $fs__name, $fs__value in $fs__map {
    #{$fs__name} {
      font-size: $fs__value;
    }
  }

  main {
    position: relative; //to overlay mobile nav container
  }
}

.app {
  &__reset {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 999;
  }
}